h1{
	text-align: center;
}

td{
	width:100px;
	height:100px;
}

.vertical{
	border-left: 2px solid gray;
	border-right: 2px solid gray;
}
.horizontal{
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}
table{
	margin: auto;
}