p{
	
/*content- width and Height*/
width: 50%;

/*Border*/
border: 2px solid blue;
/*Padding*/
padding: 20px;
/*padding-left: 40px;*/

/*Margin*/
margin: 100px;
/*margin-top: 500px; */
/*instead of giving margin-top, you can give margin and give all 4 sides.*/
/*margin: 20px 40px 200px 100px;*/
margin: 0 auto;
margin: 50px 20px;

}